table, th, td {
  border: 1px solid black;
  background-color:green;
}
body{
	background-color: Orange ;
}
h1 {
  color: maroon;
  margin-left: 40px;
  
}
p{ color:red;

}

p.normal {
  font-style: italic;
}

ul.a {
  list-style-position:outside;
  background-color:purple;
}
img {
  border-radius: 65%;
  opacity: 0.5;
}


